@font-face {
    font-family: opensans-medium;
    src: url('../../fonts/open-sans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: gotham-book;
    src: url('../../fonts/gotham-rounded/GothamRounded-Book.otf');
}

@font-face {
    font-family: gotham-bold;
    src: url('../../fonts/gotham-rounded/GothamRounded-Bold.otf');
}

@font-face {
    font-family: gotham-medium;
    src: url('../../fonts/gotham-rounded/GothamRounded-Medium.otf');
}

@font-face {
    font-family: poppins-medium;
    src: url('../../fonts/poppins/Poppins-Medium.ttf');
}

body{
	margin: 0 auto;
	padding: 0 auto;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    list-style:none;
}

* {
    box-sizing: border-box;
}

/* Atrribute */

section{
	padding-top: 16px;
	padding-bottom: 16px;
}
.color-blue{
	color: #283593;
}
.color-blue2{
	color: #3F51B5;
}
.color-orange{
	color: #F56954;
}
.color-white{
	color: #f5f5f5;
}
.color-black{
	color: #212121;
}
.p-semua{
	font-size: 18px;
	word-break: break-all;
}

/* Intro */

.intro-bg {
	background-image: url(../../image/banner_home.png);
	background-attachment: fixed;
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 700px;
}
.center-intro{
	padding-top: 150px;
}
.center-intro-tagline{
	padding-top: 150px;
	padding-left: 20px;
}
.center-intro-vector{
	padding-left: 20px;
}

/* Category */
.category-bg{
	padding-top: 50px!important;
	padding-bottom: 50px!important;
	background-color: #fff;
}

.h5-kategori {
	font-size: 18px;
}
.category-bg h5{
	padding: 10px;
}
.category-bg img{
	margin: 15px;
}
.content-category{
	background-color: #f5f5f5;
	padding: 30px 30px 30px 30px;
}
.center-content{
    display: flex;
  	justify-content: center;
  	align-items: center;
}
.center-content a{
	text-decoration-line: none;
	
}
.border-line{
	border: solid #E0E0E0 2px;
}
.border-line-bottom{
	border-bottom: solid #E0E0E0 2px;
}

/* Hot Sale */

.hotsale-bg{
	background-color: #3F51B5;
	height: 400px;
}
.box-hotsale{
	background-color: #F5F5F5;
	height: 238px;
	border-radius: 20px;
	margin-top: 50px;
}
.owl-carousel{
	padding-top: 10px!important;
}
.owl-prev {
   display: none;
}
.owl-next {
   display: none;
}
.disabled {
   display: none !important;
}
.content-hotsale{
	border: 2px #EEEEEE solid;
}

/* Recent */
.recent-bg{
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
}

.box-recent{
	background-color: #f5f5f5;
	height: 250px;
	border-radius: 10px;
	margin: 20px 5px 5px 5px;
}
.h5-recent{
	font-size: 15px;
}



/*------------------- NAVBAR--------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}


.nav-bar {
    z-index: 999;
}

.bgblue {
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #449bff;
    position: fixed;
    display: none;
    transition: all 0.3s;
}

.nav-bar {
	padding-top: 52px;
	padding-left: 30px;
	padding-right: 30px;
	width: 35%;
	position: fixed;
	background: white;
	right: -700px;
	height: 100vh;
	transition: right 0.3s;
}

.nav-bar-hide {
    right: 0;
    transition: right 0.3s;
}

.bgblue-show {
    z-index: 99;
    display: block;
    transition: all 0.3s;
    opacity: 0.8;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
    position: absolute;
    width: 50px;
    height: 4px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 4px;
    background: #ff9100;
}


.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
    background-color: grey !important;
}

.hamburger--spring.is-active .hamburger-inner {
    transition-delay: .22s;
    background-color: transparent !important;
}

.hamburger-inner, .hamburger-inner:before, .hamburger-inner:after {
    background-color: #ff9100!important;
}

.hamburger-inner:hover {
    background-color: #fffde7!important;
}


.tujuan {
    background-color: #3F51B5;
    margin-top: -20px;
    font-family: opensans-medium;
}

.tujuan h1 {
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
    padding-top: 8%;
    font-family: 'gotham-bold';
    padding-left: 5%;
    padding-right: 5%;
}

.tujuan h4 {
    font-size: 20px;
    line-height: 1.2;
    font-family: gotham-medium;
}

.wrapper {
    min-height: 400px;
    width: 100%;
    padding-bottom: 8%;
}

.columns {
    z-index: 999;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;
    bottom: 0;
    margin-left: 8%;
    margin-right: 8%;
}

.column {
    color: black;
    background: white;
    border-radius: 15px;
    height: 0 auto;
    text-align: center;
    flex: 1;
    margin: 12px;
    padding: 20px;
    transition: .5s all;
}

.column p {
    color: #919191;
}

.column img{
    margin-top: 10px;
}

.column h4 {
    margin-top: 10px;
}


/* CSS KONTAK / FOOTER */
.kontak-bg{
    padding-top: 20px;
    background-color: #444444;
    font-family: gotham-medium;
    color: white;
}
.h1-kontak {
	font-size: 28px;
	text-align: center;
}
.padding-content-kontak{
	padding-top: 20px;
	padding-bottom: 10px;
}

.h2-kontak{
	font-size: 1rem;
}
.p-kontak{
	font-size: 15px;
}
.spacingMediaSosialKontak{
    padding-bottom: 50px;
}
.spacingMediaSosialKontak img{
	padding-right: 5px;
}

.infoContent{
	margin-left: 20px;
	margin-top: 20px;
}
/* END CSS KONTAK / FOOTER */

.about{
    padding: 100px 50px 100px 50px;
    text-align: center;
}

.about h4{
    text-align:center;
    font-family: gotham-medium;   
    font-size: 30px;
    margin-bottom: -10px;
}

.about h2{
    padding-top: 10px;
    font-size: 30px;
  color: #3F51B5;
}

.about h5{
    font-size: 18px;
    font-family: poppins-medium;
  }
  

.about img{
    border-radius: 100%;
    width: 100%;
    margin-top: 80px;
    padding-right: 8%;
    padding-left: 8%;
}


#mapid{
    height: 360px;
    width: 100%;
}