@font-face {
    font-family: opensans-medium;
    src: url('../../fonts/open-sans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: gotham-book;
    src: url('../../fonts/gotham-rounded/GothamRounded-Book.otf');
}

@font-face {
    font-family: gotham-bold;
    src: url('../../fonts/gotham-rounded/GothamRounded-Bold.otf');
}

@font-face {
    font-family: gotham-medium;
    src: url('../../fonts/gotham-rounded/GothamRounded-Medium.otf');
}

@font-face {
    font-family: poppins-medium;
    src: url('../../fonts/poppins/Poppins-Medium.ttf');
}

* {
    box-sizing: border-box;
}

.tujuan {
    background-color: #3F51B5;
    margin-top: -20px;
    font-family: opensans-medium;
}

.tujuan h1 {
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
    padding-top: 8%;
    font-family: 'gotham-bold';
    padding-left: 5%;
    padding-right: 5%;
}

.tujuan h4 {
    font-size: 20px;
    line-height: 1.2;
    font-family: gotham-medium;
}

.wrapper {
    min-height: 400px;
    width: 100%;
    padding-bottom: 8%;
}

.columns {
    z-index: 999;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;
    bottom: 0;
    margin-left: 8%;
    margin-right: 8%;
}

.column {
    color: black;
    background: white;
    border-radius: 15px;
    height: 0 auto;
    text-align: center;
    flex: 1;
    margin: 12px;
    padding: 20px;
    transition: .5s all;
}

.column p {
    color: #919191;
}

.column img{
    margin-top: 10px;
}

.column h4 {
    margin-top: 10px;
}

@media screen and (max-width: 980px) {
    .wrapperLanding {
        margin: 0;
    }

    .columns .column {
        margin-bottom: 5px;
        flex-basis: 40%;
    }
}

@media screen and (max-width: 680px) {
    .columns .column {
        flex-basis: 100%;
        margin: 0 0 20px 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 414px) {
    .tujuan h1 {
        padding-top: 20%;
    }
}

@media screen and (min-width: 760px) and (max-width: 1024px) {
    .tujuan h1 {
        padding-top: 15%;
    }
}


/* CSS KONTAK / FOOTER */
.kontak-bg{
    padding-top: 20px;
    background-color: #444444;
    font-family: gotham-medium;
    color: white;
}
.h1-kontak {
	font-size: 28px;
	text-align: center;
}
.padding-content-kontak{
	padding-top: 20px;
	padding-bottom: 10px;
}

.h2-kontak{
	font-size: 1rem;
}
.p-kontak{
	font-size: 15px;
}
.spacingMediaSosialKontak{
    padding-bottom: 50px;
}
.spacingMediaSosialKontak img{
	padding-right: 5px;
}

.infoContent{
	margin-left: 20px;
	margin-top: 20px;
}
/* END CSS KONTAK / FOOTER */

.about{
    padding: 100px 50px 100px 50px;
    text-align: center;
}

.about h4{
    text-align:center;
    font-family: gotham-medium;   
    font-size: 30px;
    margin-bottom: -10px;
}

.about h2{
    padding-top: 10px;
    font-size: 30px;
  color: #3F51B5;
}

.about h5{
    font-size: 18px;
    font-family: poppins-medium;
  }
  

.about img{
    border-radius: 100%;
    width: 100%;
    margin-top: 80px;
    padding-right: 8%;
    padding-left: 8%;
}


#mapid{
    height: 360px;
    width: 100%;
}