@charset "utf-8";
/* CSS Document */

body{
    margin: 0 auto;
    padding: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    list-style:none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* Atrribute */

a, a:hover{
	text-decoration: none
}
.color-orange{
    color: #F56954;
}
.color-blue{
    color: #283593;
}
.color-blue2{
    color: #286FAA;
}
.color-white{
    color: #ffffff;
}
.color-white2{
    color: #f5f5f5;
}
.color-black{
    color: #000000;
}
.color-black2{
    color: #212121;
}
.hr-blue{
    margin-left: 20px;
    border: 2px solid #283593;
    border-radius: 3px;
}
.p-judul{
    font-size: 72px;
    letter-spacing: 5px;
    padding-bottom: 17px;
}
.hidden-sm{
	display: block;
}
.hidden-md{
	display: none;
}

/* Navigasi */

.nav-link{
    color: #283593 !important;
    font-size: 14px !important;
    text-transform: uppercase!important;
}
.nav-link:hover{
    color: #F56954 !important;
}
.ml-auto {
    left: auto !important;
    right: 0px;
}
.mr-auto {
    right: auto !important;
    left: 0px;
}
.navbar-brand{
    padding-bottom: 0!important;
    padding-top: 0!important;
}
.dropdown{
	margin-right: auto!important;
}
.dropdown-toggle::after {
    display:none;
}
.icon-nav{
	display: block;
}
.icon-nav-sm{
	display: none;
}
.collapse-sm{
	display: none;
}
.profil-sm{
	display: none;
}

/* Section Beranda */

.beranda-bg{
    background-image: url(../../image/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 588px;
    margin-top: 76px;
	
}
.intro-kiri{
    margin-left: 30px;
    margin-top: 200px;
}

.intro-kanan{
    margin-top: 210px;
}
.p-intro-kiri{
    margin-top: 20px;
    text-align: left;
    font-size: 16px;
    margin-left: 20px;
    width: 468px;
}
.p-intro-kanan{
    margin-left: 70px;
    margin-right: 20px;
    text-align: right;
    font-size: 48px;
}

/* Section Kategori */

.kategori-bg{
    background-color: #FFFFFF;
}
.grid-kategori{
    padding-left: 0!important;
    padding-right: 0!important;
    border: 2px solid white;
}
.item {
    position: relative;
    overflow: hidden;
    text-align: center;
}
.item p{
    position: absolute;
    top: 40%;
    font-size: 30px;
    width: 100%;
}
.item img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.item:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.btn-show-more{
    margin-top: 60px;
    background: #F56954;
    padding-left: 40px;
    padding-right: 40px;
}
.btn-show-more:hover{
    margin-top: 60px;
    background: #FFFFFF;
    border: 1px #F56954 solid;
    color: #F56954;
    padding-left: 40px;
    padding-right: 40px;
}
.kategori-2{
	display: block;
}
.kategori-2-sm{
	display: none;
}

/* Section Top */

.top-bg{
    background-color: #FFFFFF;
}
.grid-top{
    padding-left: 0!important;
    padding-right: 0!important;
    background-color: #ffffff;
}
.box-top{
	background-image: url(../../image/top-bg.png);
	background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
.owl-carousel{
    
}
.owl-prev {
   display: none;
}
.owl-next {
   display: none;
}
.disabled {
   display: none !important;
}
.content-top{
    background-color: #FFFFFF;
    border: 2px #FFFFFF solid;
    text-align: center;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
	min-height: 276px;
}
.content-top img{
    width: 120px!important;
}
.h5-top{
    margin-top: 15px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.h5-top-harga{
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}
.p-kota-top{
    font-size: 13px;
    color: #757575;
}
.btn-top{
    background-color: #F56954;
    color: white;
    text-align: center;
    font-size: 12px;
    width: 80%; 
}
.btn-top:hover{
    background-color: #FFFFFF;
    border: 1px #F56954 solid; 
    color: #F56954;
}

/* Section Baru */

.baru-bg{
    background-color: #FFFFFF;
}
.h5-baru{
    margin-top: 15px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.h5-baru-harga{
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}
.p-kota-baru{
    font-size: 16px;
	color: #757575;
}
.card{
	margin: 20px;
	-webkit-transition: width 2s;
    transition: width 2s;
	transition-timing-function: ease-in-out;
	box-shadow: 0 0 0px rgba(33,33,33,.2);
}
.card:hover{
	box-shadow: 0 0 20px rgba(33,33,33,.2);
	transition: all 0.5s;
}
.card img{
	padding: 10px;
	height: 200px;
}
.btn-baru{
    background-color: #F56954;
    color: white;
    text-align: center;
    font-size: 12px;
    width: 100%; 
}
.btn-baru:hover{
    background-color: #FFFFFF;
    border: 1px #F56954 solid; 
    color: #F56954;
}

/* Section Mengapa */

.mengapa-bg{
    background-color: #FFF;
}
.mengapa-bg-parallax{
	background-image: url(../../image/top-bg.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}
.mengapa-bg-parallax img{
	box-shadow: 0 0 11px rgba(33,33,33,0.60);
}
.grid-mengapa{
    padding-left: 0!important;
    padding-right: 0!important;
}
.teks-mengapa{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 150px;
    margin-bottom: auto;
}
.judul-mengapa{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}
.desk-mengapa{
    font-size: 15px;
    margin: auto;
}

/* Section Dibalik */

.dibalik-bg{
    background-color: #FFFFFF;
}
.heading-title {
    margin-bottom: 100px;
}
.text-center {
    text-align: center;
}
.heading-title h3 {
    margin-bottom: 0;
    letter-spacing: 2px;
    font-weight: normal;
}
.p-top-30 {
    padding-top: 30px;
}
.half-txt {
    width: 60%;
    margin: 0 auto;
    display: inline-block;
    line-height: 25px;
    color: #7e7e7e;
}
.text-uppercase {
    text-transform: uppercase;
}
.team-member, .team-hover{
	position: relative;
	width: 100%;
	height: auto;
	border-radius: 50%;
}
.team-member, .team-member .team-img {
    position: relative;
}
.team-member {
    overflow: hidden;
}
.team-member, .team-member .team-img {
    position: relative;
}

.team-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border: 20px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.90);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.team-member:hover .team-hover .desk {
    top: 35%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .desk {
    position: absolute;
    top: 0%;
    width: 100%;
    opacity: 0;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    padding: 0 20px;
}
.desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #222;
}
.team-member:hover .team-hover .s-link {
    bottom: 10%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .s-link {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    text-align: center;
    -webkit-transform: translateY(45%);
    -ms-transform: translateY(45%);
    transform: translateY(45%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    font-size: 35px;
}
.desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #222;
}
.team-member .s-link a {
    margin: 0 10px;
    color: #333;
    font-size: 16px;
}
.team-title {
    position: static;
    padding: 20px 0;
    display: inline-block;
    letter-spacing: 2px;
    width: 100%;
}
.team-title h5 {
    margin-bottom: 0px;
    display: block;
    text-transform: uppercase;
}
.team-title span {
    font-size: 20px;
    text-transform: uppercase;
    color: #a5a5a5;
    letter-spacing: 1px;
}

/* Footer */

.footer-bg{
    background-color: #283593;
    margin: auto;
    padding-top: auto;
}
.grid-footer{
    padding-left: 0!important;
    padding-right: 0!important;
}
.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
}

.footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
}

.footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
}

.footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
}

.footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

.footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

.footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
}

.footer-distributed{
	padding-bottom: 60px;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}


@media only screen and (max-width: 960px) {
    .containerpromo {
        width: 95%;
        max-width: 996px;
        margin: 0 auto;
        display: block;
        text-align: justify;
    }
}
