@charset "utf-8";
/* CSS Document */

@media screen and (max-width: 996px){
	.img-detailfoto{
		min-height: auto!important;
	}
}

@media screen and (max-width: 824px){
	.img-detailfoto{
		width: 300px;
	}
}


@media screen and (min-width: 1200px){
	.img-detailfoto{
		min-height: 500px!important;
	}
}

@media screen and (max-width: 574px){
	.padding-content-detailbarang{
		margin-top: 50px;
		margin-left: auto;
	}
}
@media screen and (max-width: 765px){
	.location-detail #map{
		min-height: none!important;
		height: 300px!important;
	}
}



