@charset "utf-8";
/* CSS Document */


/* SECTION Detail Fitur */

.detailfitur-bg{
	background-color: #FFFFFF;
}
.padding-content-detailfitur{
	padding-top: 40px;
	padding-bottom: 40px;
}
.spacingDetailFitur{
	margin: 50px;
}
.spacingCardDetailFitur{
	margin-bottom: 5px;
	margin-top: 2px;
}
.span-badge-silver{
	background-color: #9BA3B7!important;
	border-radius: 50px;
	padding: 1px 5px 1px 5px;
	font-size: 10px;	
	margin-left: -15px;
}
.span-badge-gold{
	background-color: #F47F34!important;
	border-radius: 50px;
	padding: 1px 5px 1px 5px;
	font-size: 10px;	
	margin-left: -15px;
}
.span-badge-platinum{
	background-color: #548BE7!important;
	border-radius: 50px;
	padding: 1px 5px 1px 5px;
	font-size: 10px;	
	margin-left: -15px;
}
