@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: Bebas_Neue;
	src: url(../fonts/bebas-neue/BebasNeue-Regular.ttf);
}
@font-face {
	font-family: OpenSans_Bold;
	src: url(../fonts/open-sans/OpenSans-Bold.ttf);
}
@font-face {
	font-family: OpenSans_Italic;
	src: url(../fonts/open-sans/OpenSans-Italic.ttf);
}
@font-face {
	font-family: OpenSans_Light;
	src: url(../fonts/open-sans/OpenSans-Light.ttf);
}
@font-face {
	font-family: OpenSans_Regular;
	src: url(../fonts/open-sans/OpenSans-Regular.ttf);
}
@font-face {
	font-family: Sunshine;
	src: url(../fonts/sunshine/Sunshine.ttf);
}
@font-face {
    font-family: gotham-book;
    src: url('../fonts/gotham-rounded/GothamRounded-Book.otf');
}

@font-face {
    font-family: gotham-bold;
    src: url('../fonts/gotham-rounded/GothamRounded-Bold.otf');
}

@font-face {
    font-family: gotham-medium;
    src: url('../fonts/gotham-rounded/GothamRounded-Medium.otf');
}

@font-face {
    font-family: poppins-medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
}

.font-bebas-neue{
	font-family: Bebas_Neue;
}
.font-opensans-bold{
	font-family: OpenSans_Bold;
}
.font-opensans-italic{
	font-family: OpenSans_Italic;
}
.font-opensans-light{
	font-family: OpenSans_Light;
}
.font-opensans-regular{
	font-family: OpenSans_Regular;
}
.font-sunshine{
	font-family: Sunshine;
}